@font-face {
  font-family: "NotoSansSC";
  src: url("./NotoSansSC-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "OpenSans";
  src: url("./OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "Oxygen Mono";
  src: url("./OxygenMono-Regular.ttf") format("truetype");
}

:root {
  --font-size-base: 16px;
  --color-monalisa-black: #1f1111;
  --color-monalisa-dark-brown: #462f23;
  --color-monalisa-soft-yellow: #f6eab4;
  --color-monalisa-dark-green: #535019;

  --color-background-main: #f9f7ed;
  --color-background-card: #f4f1e7;
  --color-border-card: #eeebe1;
  --color-text-meta: #7d7a4e;
  --color-link: var(--color-monalisa-black);
  --color-link-hover: var(--color-monalisa-dark-brown);
  --color-border: var(--color-monalisa-dark-brown);
  --color-span: var(--color-monalisa-dark-green);

  --font-family-mono: "Oxygen Mono", monospace;
  --font-family-sans: Oxygen, sans-serif;
  --font-family-chinese: "OpenSans", "NotoSansSC", serif;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size-base);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-main);
  font-size: 1rem;
}

body:lang(zh) {
  font-family: var(--font-family-chinese);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  font-family: var(--font-family-mono), var(--font-family-chinese);
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

time {
  color: var(--color-text-meta);
}

p {
  line-height: 1.5;
}

blockquote {
  margin: 0;
}

summary {
  display: flex;
  align-items: center;
  width: 100%;
}

summary::before {
  content: "▶";
  margin-right: 5px;
  transition: transform 0.3s;
}

details[open] > summary::before {
  transform: rotate(90deg);
}

summary h2 {
  margin: 0;
  white-space: nowrap;
}

.nav {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: var(--font-family-mono);
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--color-border);
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.main {
  padding: 2rem 1rem 4rem;
  max-width: 800px;
  min-height: calc(100vh - 265px);
  margin: 0 auto;
  border-left: 5px solid var(--color-border);
  border-right: 5px solid var(--color-border);
}

.main__header {
  margin-bottom: 1rem;
}

.main__title {
  margin: 0;
  font-family: var(--font-family-mono);
  text-align: center;
}

.main__subtitle {
  text-align: end;
  margin: 5px 0;
}

.main__heading-span {
  color: var(--color-span);
}

.main__details {
  margin-top: 1rem;
}

.last-updated,
.release-date {
  margin: 0;
  color: var(--color-text-meta);
  font-size: smaller;
}

.footer {
  padding-top: 2rem;
  border-top: 2px solid var(--color-border);
}

.footer__content {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.footer__heading {
  margin: 0;
  padding: 1rem;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.details__summary {
  font-size: 1.5rem;
}

.details__summary-heading {
  display: inline-block;
}

.details__summary-heading--h2 {
  font-size: 1.5rem;
}

.details__summary-heading--h3 {
  font-size: 1.3rem;
}

.details__summary-heading--h4 {
  font-size: 1.1rem;
}

.cards {
  list-style-type: none;
  margin: 0.5rem 0;
  padding: 0 1.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  width: 100%;
  background-color: var(--color-background-card);
  border-top: 1px solid var(--color-border-card);
}

.profile {
  padding: 1rem;
}

.profile__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.profile__footer {
  text-align: end;
}

.profile__heading {
  font-size: 1.2rem;
}

.sheet {
  padding: 1rem;
  padding-top: 0;
}

.sheet__footer {
  width: 100%;
  text-align: end;
}

.details-list {
  list-style-type: none;
  margin: 0.5rem 0 1rem 0;
  padding-left: 1.5rem;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.item-count {
  color: var(--color-text-meta);
  padding-left: 0.3rem;
}

.article-meta {
  margin-bottom: 1rem;
}

.source {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-border);
  padding-top: 0.5rem;
}

.source__info {
  color: var(--color-text-meta);
}

.thinking {
  position: relative;
  padding-bottom: 1.2rem;
}

.thinking > p:first-child {
  margin-top: 0;
}

.thinking__footer {
  position: absolute;
  bottom: 0.8rem;
  right: 1rem;
}

.youtube,
.codepen {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding-top: 50.625%;
  position: relative;
}

.youtube iframe,
.codepen iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 850px) {
  .main {
    border: none;
    min-height: 0;
  }

  .cards {
    padding: 0;
  }
}
