@font-face {
  font-family: "NotoSansSC";
  src: url("./NotoSansSC-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}
@font-face {
  font-family: "OpenSans";
  src: url("./OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: 100 900;
}
/* @font-face {
  font-family: "OpenSans";
  src: url("./OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: 100 900;
} */
@font-face {
  font-family: "Oxygen mono";
  src: url("./OxygenMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oxygen";
  src: url("./Oxygen-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Oxygen";
  src: url("./Oxygen-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Oxygen";
  src: url("./Oxygen-Light.ttf") format("truetype");
  font-weight: lighter;
}
:root {
  --monalisa-black: #1f1111;
  --monalisa-dark-brown: #462f23;
  --monalisa-soft-yellow: #f6eab4;
  --monalisa-dark-green: #535019;

  --main-background-color: #f9f7ed;
  --card-background-color: #f4f1e7;
  --card-border-color: #eeebe1;
  --meta-data-color: #7d7a4e;
  --link-color: var(--monalisa-black);
  --link-hover-color: var(--monalisa-dark-brown);
  --border-color: var(--monalisa-dark-brown);
  --span-color: var(--monalisa-dark-green);

  --font-size: 1rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--main-background-color);
  font-size: var(--font-size);
}
/* TODO en */
body:lang(zh) {
  font-family: "OpenSans", "NotoSansSC", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* TODO margin */
  /* margin: 0; */
  font-weight: 500;
}
a {
  font-family: "Oxygen mono", "NotoSansSC", serif;
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}
img {
  width: 100%;
}
time {
  color: var(--meta-data-color);
}
p {
  line-height: 1.5;
}
blockquote {
  margin: 0;
}

/* nav */
.nav {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: var(--mono);
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--main-background-color);
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* main */
.main {
  padding: 2rem 1rem 4rem 1rem;
  max-width: 800px;
  min-height: calc(100vh - 265px);
  margin: 0 auto;
  border-left: 5px solid var(--border-color);
  border-right: 5px solid var(--border-color);
}
.main > header {
  margin-bottom: 1rem;
}
.main > header > h1 {
  margin: 0;
  font-family: var(--mono);
  text-align: center;
}
.main > header > p {
  text-align: end;
}
.main h2 > span {
  color: var(--span-color);
}
.main > details {
  margin-top: 1rem;
}
.last-update,
.release-date {
  margin: 0;
  color: var(--meta-data-color);
}

/* footer */
.footer {
  padding-top: 2rem;
  border-top: 1px solid var(--border-color);
}
.footer > div {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.footer > div > h2 {
  margin: 0;
  padding: 1rem;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* details */
details > summary {
  font-size: 1.5rem;
}
details > summary > h2 {
  display: inline-block;
  font-size: 1.5rem;
}
details > summary > h3 {
  display: inline-block;
  font-size: 1.3rem;
}
details > summary > h4 {
  display: inline-block;
  font-size: 1.1rem;
}

/* cards */
.cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0.5rem 0;
  padding: 0 1.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card {
  width: 100%;
  background-color: var(--card-background-color);
  border-top: 1px solid var(--card-border-color);
}

/* profile */
.profile {
  padding: 1rem;
}
.profile header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.profile footer {
  text-align: end;
}
.profile h4 {
  font-size: 1.2rem;
}

/* sheet */
.sheet {
  padding: 1rem;
  padding-top: 0;
}
.sheet footer {
  width: 100%;
  text-align: end;
}

/* category archive */
.details-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  padding-left: 1.5rem;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.article-meta {
  margin-bottom: 1rem;
}

.source {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border-color);
  padding-top: 0.5rem;
}
.source > div {
  color: var(--meta-data-color);
}

.thinking {
  position: relative;
  padding-bottom: 1.2rem;
}
.thinking > p:first-child {
  margin-top: 0;
}
.thinking > footer {
  position: absolute;
  bottom: 0.8rem;
  right: 1rem;
}

/* shortCodes */
.youtube {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding-top: 50.625%;
  position: relative;
}
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.codepen {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding-top: 50.625%;
  position: relative;
}
.codepen iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 850px) {
  .main {
    border: none;
    min-height: 0;
  }
  .cards {
    padding: 0;
  }
}
