{% extends "section.html" %} {% block content %}
<main class="main">
  <header><h1>Article</h1></header>
  <details class="recent" open>
    <summary><h2 class="no-margin">最近发布：</h2></summary>
    {% set all_pages = section.pages %} {% set recent_pages = all_pages | sort(attribute="date") | reverse %}
    <ol class="cards">
      {% for page in recent_pages | slice(start=0, end=5) %}
      <li class="card">
        <article class="profile">
          <header>
            <h4 class="no-margin">{{ page.title }}</h4>
            <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
          </header>
          <p>{{ page.description | safe }}</p>
          <footer><a href="{{ page.permalink }}">继续阅读>>></a></footer>
        </article>
      </li>
      {% endfor %}
    </ol>
  </details>

  <details class="details-list" open>
    <summary><h2 class="no-margin">按<span>分类</span>查看：</h2></summary>
    {% set categories = get_taxonomy(kind="categories") %}
    <ol>
      {% for category in categories.items %}
      <li>
        <details>
          <summary><h3 class="no-margin">{{ category.name }}({{ category.pages | length }})</h3></summary>
          <ol class="cards">
            {% for page in category.pages %}
            <li class="card">
              <article class="profile">
                <header>
                  <h4 class="no-margin">{{ page.title }}</h4>
                  <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
                </header>
                <p>{{ page.summary | safe }}</p>
                <footer><a href="{{ page.permalink }}">继续阅读>>></a></footer>
              </article>
            </li>
            {% endfor %}
          </ol>
        </details>
      </li>
      {% endfor %}
    </ol>
  </details>

  <details class="details-list">
    <summary><h2 class="no-margin">按<span>标签</span>查看：</h2></summary>
    {% set tags = get_taxonomy(kind="tags") %}
    <ol>
      {% for tag in tags.items %}
      <li>
        <details>
          <summary><h3 class="no-margin">{{ tag.name }}({{ tag.pages | length }})</h3></summary>
          <ol class="cards">
            {% for page in tag.pages %}
            <li class="card">
              <article class="profile">
                <header>
                  <h4 class="no-margin">{{ page.title }}</h4>
                  <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
                </header>
                <p>{{ page.summary | safe }}</p>
                <footer><a href="{{ page.permalink }}">继续阅读>>></a></footer>
              </article>
            </li>
            {% endfor %}
          </ol>
        </details>
      </li>
      {% endfor %}
    </ol>
  </details>

  <details class="details-list">
    <summary><h2 class="no-margin">按<span>归档</span>查看：</h2></summary>
    {% set all_pages = section.pages %} 
    <ol>
      {% for year, pages in section.pages | group_by(attribute="year") %}
      <li>
        <details>
          <summary><h3 class="no-margin">{{ year }}({{ pages | length }})</h3></summary>
          <ol class="cards">
            {% for page in pages %}
            <li class="card">
              <article class="profile">
                <header>
                  <h4 class="no-margin">{{ page.title }}</h4>
                  <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
                </header>
                <p>{{ page.summary | safe }}</p>
                <footer><a href="{{ page.permalink }}">继续阅读>>></a></footer>
              </article>
            </li>
            {% endfor %}
          </ol>
        </details>
      </li>
      {% endfor %}
    </ol>
  </details>
</main>

{% endblock content %}
