<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ get_url(path='Elowen-logos_transparent.png', cachebust=true) }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}" />
    <!-- TODO: Add RSS link -->
  </head>
  <body>
    {% block header %}
    <header class="header">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="/article" class="nav__link">Article</a></li>
          <li class="nav__item"><a href="/thinking" class="nav__link">Thinking</a></li>
          <li class="nav__item"><a href="/focus-blend" class="nav__link">Focus Blend</a></li>
          <li class="nav__item"><a href="/now" class="nav__link">Now</a></li>
          <li class="nav__item"><a href="/about" class="nav__link">About</a></li>
        </ul>
      </nav>
    </header>
    {% endblock header %} {% block content %}
    <main class="main">
      <header class="main__header">
        <h1 class="main__title">{{ config.title }}</h1>
      </header>
    </main>
    {% endblock content %}

    <footer class="footer">
      <div class="footer__content">
        <h2 class="footer__heading">Elowen</h2>
        <ul class="footer__list">
          {% for link in config.extra.links %}
          <li class="footer__item"><a href="{{ link.href }}" class="footer__link">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <p class="footer__copyright"><small>&copy; 2024 Elowen. All rights reserved.</small></p>
      </div>
    </footer>
  </body>
</html>
