{% extends "section.html" %} {% block content %}
<main class="main">
  <header><h1>{{ section.title }}</h1></header>
  {% set all_pages = section.pages %} {% set recent_pages = all_pages | sort(attribute="date") | reverse %}
  <ol class="cards">
    {% for page in recent_pages %}
    <li class="card">
      <article class="profile thinking">
        {{ page.content | safe }}
        <footer>
          <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
        </footer>
      </article>
    </li>
    {% endfor %}
  </ol>
</main>
{% endblock content %}
