{% extends "section.html" %} {% block content %}
<main class="main">
  <header><h1>{{ section.title }}</h1></header>
  {% set all_pages = section.pages %}
  <ol class="cards">
    {% for page in all_pages %}
    <li class="card">
      <article class="profile thinking">
        {{ page.content | safe }}
        <footer>
          <time>Last Updated: {{ page.updated | date(format="%Y-%m-%d") }}</time>
        </footer>
      </article>
    </li>
    {% endfor %}
  </ol>
</main>
{% endblock content %}
